body{
    background: #d2d2c1 url(../imagens/fundo.png);
    font: 16px Arial, Helvetica, sans-serif;
}

h1{

    color: #828271;
    font-size: 1.2em;
}

#principal{
    width: 900px;
}

#menu{
    background-color: #c5c5b2;
    padding: 18px;
}

a{
    color: #4b566a;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}

#conteudo{
    background-color: #e8e8e9;
    padding: 10px;
}

.centralizar{
    text-align: center;
}

.fotos{
    border: 10px solid #c3c3ae;
}

.contatos-span{
    font-weight: bold;
}

